torch==2.0.0
torchvision==0.15.1
pyyaml==5.1
opencv-python==4.8.0.76
git+https://github.com/ppwwyyxx/cocoapi.git#egg=pycocotools&subdirectory=PythonAPI
fvcore==0.1.5.post20221221
git+https://github.com/facebookresearch/detectron2.git
